:root {
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    --blue: #007FFF;
    --blue-light: rgba(0,127,255,.2);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Datatype', sans-serif;
}

body {
    background-color: #F5F5F5;
    color: #343434;
}

@font-face {
    font-family: 'Datatype';
    src: url('./assets/font.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#root {
    height: calc(100vh - 50px);
}

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: #007FFF;
    text-align: center;

}

.site-footer p {
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

header h1 {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #007FFF;
}

.grid {
    grid-template-columns: minmax(140px, auto) 3fr;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#project-dash {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    grid-column: 1;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.sidebar-list {
    direction: rtl;
    margin: 0;
    padding: 2rem .8rem;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .8em;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 10px;

}

.scroll::-webkit-scrollbar-thumb {
    background: #BEBFC5;
    border-radius: 1rem;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #536878;
}

.sidebar-list li {
    direction: ltr;
    margin: 0;
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    font-size: .8rem;
    text-align: left;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;
}

.sidebar-list li:not(:first-child) {
    justify-content: start;
    gap: 1.2em;
}

.sidebar-list li:first-child{
    font-size: 1rem;
    font-weight: 700;
    color: #007FFF;
    text-align: left;
    justify-content: start;
    align-items: center;
    max-height: 150px;
}

.sidebar-list li:hover:not(.selected) {
    box-shadow: var(--shadow);
}

#default-dash {
    width: 100%;
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow-y: hidden;
}

.dash {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    padding: .8rem;
    height: auto;
    width: 100%;
    border-radius: 1rem;
    overflow-y: scroll;
}

.dash-top-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: .8rem;
    background-color: #E5E4E2;
    width: 100%;
    border-radius: 1rem;
    height: auto;
    box-shadow: var(--shadow);
    gap: 1.2em;
}

.dash-top-inputs {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dash-top-inputs label, .dash-top-bar form div label {
    min-width: 0;
    width: stretch;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2em;
    font-size: .8rem;
    font-weight: 600;
    color: #007FFF;
    padding: .4rem;
}

.dash-top-inputs label input, .dash-top-bar form div label input {
    width: 100%;
    field-sizing: content;
    padding: .4em;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #F5F5F5;
}

.dash-top-inputs label input::placeholder, .dash-top-bar form div label input::placeholder { opacity: .6; font-style: italic; padding: .2rem;}

.dash-top-bar form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-top-bar form div {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 1.2em;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #E5E4E2;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.project-head {
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: #F5F5F5;
    color: black;
    border-radius: 1rem;
    border-bottom: 2px solid #ccc;
    font-size: .8rem;
}

.project-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: .8rem;
    gap: .4em;
}

.project-desc {
    text-wrap: pretty;
    padding: 0 .8rem;
    font-size: .8rem;
}

.project-counts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    padding: 0;
    width: 100%;
}

.project-count {
    border-radius: 1rem;

    margin: .4em;
    font-weight: 600;
}

.project-counts .project-count {
    font-size: min(12px, .8rem);
    padding:  .2em .4em;
}

.project-count.count {
    color: rgba(0,127,255,1);
    background-color: rgba(0,127,255,.2);
}

.project-count.empty {
    color: #808080;
    background-color: rgba(128,128,128, .2);
}

.project-count.completed {
    color: rgba(80,200,120, 1);
    background-color: rgba(80,200,120,.2);
}

.project-count.incomplete {
    color: rgba(255,165,0,1);
    background-color: rgba(255,165,0,.2);
}

.project-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
    overflow-Y: scroll;
    position: relative;
}

.project-page-head {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 2rem;
    background-color: #E5E4E2;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.project-page-title {
    grid-column: 1 / 2;
    font-size: 2rem;
    font-weight: 700;
    color: #007FFF;
    display: flex;
    justify-content: start;
    align-items: center;
}

.project-page-date {
    grid-column: 2 / 3;
    font-size: .8rem;
    font-weight: 600;
    color: #808080;
    display: flex;
    justify-content: end;
    align-items: center;
}

.project-page-todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    gap: 1rem;
    border-radius: 1rem;
    background-color: #E5E4E2;
    box-shadow: var(--shadow);
}

.project-page-todo-empty {
    color: #808080;
    background-color: rgba(128, 128, 128, .2);
    height: auto;
    padding: 4em;
    border-radius: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

.project-page-todo-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.project-page-table-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.project-page-table-wrap h3 {
    font-size: 1rem;
    padding: .8rem;
}

.project-page-todo-table {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    border-collapse: collapse;
}

.project-page-todo-table thead tr {
    background-color: #F5F5F5;
    color: #007FFF;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
}

.project-page-todo-table thead tr th, .project-page-todo-table tbody tr td {
    width: 100%;
    text-align: center;
}

.project-page-todo-table tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

.project-page-todo-table tbody tr, .project-page-todo-table thead tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.todo-checkbox {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: solid 1px #808080;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgba(128,128,128, .2);

}

.project-page-todo-table tbody tr:nth-child(even) .todo-checkbox {
    background-color: rgba(245,245,245, 1);
}

.todo-checkbox:focus,
.todo-checkbox:active {
    outline: none;
    box-shadow: none;
}

.todo-checkbox:checked, .project-page-todo-table tbody tr:nth-child(even) .todo-checkbox:checked {
    background-color: #007FFF;
    border: none;
}

.btn {
    padding: .4em;
    border: none;
    outline: none;
    border-radius: .4rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.del-btn {
    background: transparent;
    justify-self: end;
}

.new-btn, .save-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 150px;
    background: transparent;
}

.new-btn {
    border: 1px solid #007FFF;
    color: #007FFF;
}

.new-btn:hover {
    background-color: #007FFF;
    color: white;
}

.save-btn {
    border: 1px solid #50C878;
    color: #50C878;
}

.save-btn:hover {
    background-color: #50C878;
    color: white;
}

.save-btn span, .new-btn span {
    display: flex;
    align-items: center;
    width: auto;
    padding: .4rem;
    margin: 0;
}

.selected {
    background-color: #007FFF !important;
    color: white !important;
    box-shadow: var(--shadow);
}

.selected span {
    color: white !important;
}

.priority {
    border-radius: 1rem;
    padding: .6em;
    margin: .4em;
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;
}

.low-priority {
    color: #50C878;
    background-color: rgba(80,200,120,.2);
}

.med-priority {
    color: #FFA500;
    background-color: rgba(255,165,0,.2);
}

.high-priority {
    color: #FF0000;
    background-color: rgba(255,0,0,.2);
}

.small-col {
    max-width: 25px;
    text-align: center;
}

.measures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: .8rem;
    border-radius: 1rem;
    padding: .8rem;
    height: auto;
    margin: 0 auto;
}

.measure-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    border: none;
    border-radius: .8rem;
    padding: 2rem;
    min-width: 250px;
    width: 100%;
}

.measure-card h3 {
    text-align: left;
}

.measure-card p {
    text-align: center;
}

.measure-hr {
    width: 80%;
    height: 2px;
    border: none;
    outline: none;
}


.completed hr {
    background-color: #50C878;
}

.count hr {
    background-color: #007FFF;
}

.incomplete hr {
    background-color: #FFA500;
}

.empty hr {
    background-color: #808080;
}
