* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Datatype', sans-serif;
}

@font-face {
    font-family: 'Datatype';
    src: url('./assets/font.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#root {
    height: calc(100vh - 100px);
}

header {
    width: 100%;
    height: auto;
    background-color: #E5E4E2;
    display: flex;
    justify-content: end;
    align-items: center;
}

header h1 {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #007FFF;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
}

#default {
    grid-template-columns: minmax(240px, auto) 3fr;
}

.sidebar {

    grid-column: 1;
    overflow-Y: scroll;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sidebar-list {
    margin: 2rem auto;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 0;
}

.sidebar-list li {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.sidebar-list li:first-child{
    font-size: 1.5rem;
    font-weight: 700;
    color: #007FFF;

}

.sidebar-list li:not(:last-child) {
    border-bottom: 1px solid black;
}

.sidebar-list li:nth-child(even) {
    background-color: #E5E4E2;
}
.sidebar-list li:hover {
    background-color: hsl(0, 0%, 59%);
    color: white;
}

.dash {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 1.2em;
    height: max-content;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: #E5E4E2;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-head {
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: #F5F5F5;
    color: black;
    border-radius: 1rem;
}

.project-card > p {
    padding: .8rem;
}

.btn {
    padding: .8em;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.del-btn {
    background: transparent;
    justify-self: end;
}